:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  margin: 0;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.container {
  justify-content: center;
  align-items: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.link {
  text-decoration: underline;
  color: rgb(76, 175, 80);
  cursor: pointer;
}

.btn-icon {
  background-color: transparent !important;
  color: #10b981 !important;
  border: none !important;
  position: absolute !important;
  left: 0;
  width: 16px !important;
  height: 16px !important;
}

.auth-card {
  min-height: 100vh;
  margin: 0 25rem 0 25rem;
}

.p-card-body {
  background-color: white;
  color: black;
  border-radius: 12px;
}

.p-password {
  width: 100%;
}

.p-password-input {
  width: 100%;
}
