:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  margin: 0;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.container {
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-075 {
  padding-bottom: .75rem;
}

.mt-050 {
  margin-top: .5rem !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-025 {
  margin-bottom: .25rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-050 {
  margin-left: .5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.w-100 {
  width: 100%;
}

.link {
  text-decoration: underline;
  color: rgb(76, 175, 80);
  cursor: pointer;
}

.btn-icon {
  background-color: transparent !important;
  color: #10b981 !important;
  border: none !important;
  position: absolute !important;
  left: 0;
  width: 16px !important;
  height: 16px !important;
}

.text-entry {
  color: #10b981;
}

.text-out {
  color: rgb(139, 12, 12);
}

.auth-card {
  min-height: 100vh;
  margin: 0 25rem 0 25rem;
}

.p-password {
  width: 100%;
}

.p-password-input {
  width: 100%;
}

.description-operation {
  width: 150px;
}

.description-operation-create {
  width: 65px;
}
